@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --bg-color-white: rgb(254, 252, 254);
  --bg-color-grey: rgb(242, 243, 245);
  --bg-color-deep-blue: rgb(21, 32, 43);
  --bg-color-light-blue: rgb(25, 39, 52);
  --anchor-color-light: rgb(125, 123, 178);
  --anchor-color-dark: rgb(152, 250, 242);
  --txt-color-white: rgb(255, 255, 255);
  --txt-color-dark: rgb(0, 0, 0);
  --footer-color-dark: rgb(34, 48, 60);
  --footer-color-light: rgb(242, 243, 245);
}

html,
body {
  height: 100%;
}
body.dark {
  --anchor-color: var(--anchor-color-dark);
  --txt-color: var(--txt-color-white);
  --sidebar-color: var(--bg-color-deep-blue);
  --bg-color: var(--bg-color-light-blue);
  --footer-color: var(--footer-color-dark);
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  button {
    cursor: pointer;
  }
  --anchor-color: var(--anchor-color-light);
  --sidebar-color: var(--bg-color-white);
  --bg-color: var(--bg-color-grey);
  --txt-color: var(--txt-color-dark);
  --footer-color: var(--footer-color-light);
  svg:not(#__github_icon) {
    fill: var(--txt-color);
  }
  color: var(--txt-color);
  background-color: var(--bg-color);
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-rows: 10% 1fr 5%;
  grid-template-columns: minmax(250px, 20%) 1fr;

  header {
    border-bottom: 2px solid var(--txt-color);
    border-color: rgb(31, 141, 77);
    padding: 10px 20px;
    grid-area: header;
    display: flex;
    justify-content: space-between;

    #__toggle_sidebar .sidebar-svg {
      height: 90%;
      width: 1.5rem;
    }

    #__left_icon {
      display: flex;
      align-items: center;
      justify-content: center;

      div > svg {
        height: 90%;
        width: 3rem;
      }
      div + div {
        font-size: 3rem;
        font-family: "Roboto Condensed";
        font-weight: 800;
        font-style: normal;

        span {
          color: green;
        }
      }
    }
    #__theme {
      display: flex;
      align-items: center;

      padding-top: 0;
      #__moon {
        width: 40px;
        height: 60%;
        cursor: pointer;
      }
    }
  }

  sidebar {
    background-color: var(--sidebar-color);
    grid-area: sidebar;
    padding: 25px;
    .active {
      background-color: green;
    }
    #__section_1 {
      h2 {
        font-size: 2rem;
        padding-bottom: 5px;
        border-bottom: 4px solid black;
        border-color: var(--txt-color);
      }
      .data-name {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
      }
      #__all_tasks {
        padding-top: 14px;
      }
      display: grid;
      gap: 10px;
      .section1-flex {
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          margin-left: 1rem;
          margin-right: 1rem;
          width: 30px;
          height: auto;
        }
      }
      .section1-flex:active,
      .section1-flex:focus,
      .section1-flex:hover {
        background: var(--bg-color);
      }
    }
    #__section_2 {
      padding-top: 25px;
      #__project_header {
        padding-bottom: 5px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 2rem;
        }
        button {
          border: none;
          background-color: var(--sidebar-color);
          svg {
            width: 30px;
            height: 30px;
            fill: var(--txt-color);
          }
        }
        border-bottom: 4px solid black;
        border-color: var(--txt-color);
      }
      #__project_list {
        display: grid;
        gap: 10px;
        .project {
          font-family: "Montserrat";
          font-weight: 500;
          font-style: normal;
          font-size: 1.3rem;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 1rem;

          .project-remove-btn {
            border: none;
            background-color: var(--sidebar-color);
            .fas {
              width: 80%;
              height: 100%;
              color: var(--txt-color);
            }
          }
        }
        .project:active,
        .project:hover,
        .project:focus {
          background: var(--bg-color);
        }
      }
    }
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-rows: 15% 1fr;
    min-width: 710px;
    padding: 0 10px 0 10px;
    #__outer_main {
      background-color: var(--sidebar-color);
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      #__main_header {
        color: var(--txt-color);
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        font-family: "Roboto";
        font-style: italic;
      }
    }
    .empty-dom {
      background-image: url("/src/assets/empty.jpg");
      height: 90%;
      margin-top: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    #__todo_list {
      font-size: 1.1rem;
      font-weight: 500;
      font-family: "Montserrat";
      font-style: normal;
      .todo-completed {
        text-decoration: line-through;
        color: grey;
        .todo-complete-btn {
          opacity: 1;
          color: white;
          background-image: url(../assets/icon/checkmark.png);
          background-size: 100%;
          background-repeat: no-repeat;
          background-origin: border-box;
          background-color: white;
        }
        .todo-important-btn {
          width: 0;
          height: 0;
        }
      }
      .todo {
        margin: 1rem;
        padding: 5px;
        border-bottom: 1px solid var(--txt-color);
        border-radius: 5px;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: 3rem;

        .todo-date {
          flex-basis: 40%;
          flex-shrink: 0;
          text-align: left;
        }

        .todo-title {
          flex-grow: 1;
          flex-shrink: 0;
        }
        .todo-complete-btn {
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
        .todo-important-btn {
          border: none;
          background-color: var(--bg-color);

          .important-star {
            width: 100%;
            height: 100%;
            fill: none;
            stroke: var(--txt-color);
            stroke-width: 2;
          }
          .important-star.active {
            fill: goldenrod;
            stroke: goldenrod;
          }
        }
        .todo-remove-btn {
          border: none;
          background-color: var(--bg-color);
          width: 80px;

          .fas {
            width: 80%;
            height: 100%;
            color: var(--txt-color);
          }
        }
      }
    }
  }

  footer {
    background-color: var(--footer-color);
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    div {
      margin: 1rem;
    }
    a {
      text-decoration: none;
      color: var(--anchor-color);
    }
    svg {
      margin: 0 10px 0 10px;
      width: 30px;
      fill: var(--txt-color);
    }
  }
  #__floating_button {
    position: absolute;
    width: 50px;
    height: 0;
    background-color: var(--sidebar-color);
    top: 10%;
    right: 5%;
    border: none;
  }
  #__todo_dialog,
  #__project_dialog,
  #__view_todo_dialog,
  #__todo_edit_form_dialog {
    color: var(--txt-color);
    background-color: var(--sidebar-color);
    border-radius: 10px;
  }

  #__todo_dialog,
  #__todo_edit_form_dialog {
    form {
      > div {
        margin: 10px;
        display: flex;
        justify-items: flex-start;
        label {
          font-style: normal;
          font-size: 1rem;
          font-weight: 500;
          font-family: "Montserrat";
          width: 100px;
          flex-shrink: 0;
        }
        input {
          flex-grow: 1;
        }
      }
    }
  }
  #__project_dialog {
    form {
      div {
        font-style: normal;
        font-size: 1rem;
        font-weight: 500;
        font-family: "Montserrat";
        margin-top: 10px;
      }
    }
  }

  #__view_todo_dialog {
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Montserrat";

    .fa-regular {
      cursor: pointer;
      border-radius: 2px;
    }
    border-radius: 10px;
    .view-flex {
      display: flex;
      p:first-of-type {
        width: 130px;
      }
      p:nth-child(2) {
        text-align: left;
        flex-grow: 1;
      }
    }
    #__edit_todo_button_container {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background-color: var(--bg-color);
        color: var(--txt-color);
        border: var(--txt-color);
        height: 30px;
        width: 20%;
      }
      button:hover {
        border-radius: 2px;
        color: black;
        background: var(--anchor-color);
      }
    }
  }
}
